{% extends 'members/projects/projects.base.part' %}
{% load render_table from django_tables2 %}

{% block content %}
    <div class="col-md-10 col-md-push-2 col-sm-9 col-sm-push-3 col-no-left-padding">
        <section id="middle">

            <div class="page-header">
                <h1><b>{{ selectedProj }}</b> - RFC</h1>
            </div>
            <!-- /.page-header -->

            <div id="content">

                <!-- /.row -->


                <div id="the whole content section" class="row">
                    <div id="put the content selection here" class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <!-- YOUR CONTENT GOES HERE!!-->
                                <div id="RFCTableContainer"></div>
                                <table id="rfctable" class="display" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>RFC Number</th>
                                        <th>RFC title</th>
                                        <th>RFC Questions</th>
                                    </tr>
                                    </thead>

                                    <tfoot>
                                    <tr>
                                        <th>rfc_number</th>
                                        <th>rfc_title</th>
                                        <th>rfc_question</th>

                                    </tr>
                                    </tfoot>
                                </table>

                                <div>
                                    {% if user.is_authenticated and permissions.delete or permissions.change and perms.rfc.delete_rfcdocument %}

                                        <b><a href="/members/projects/{{ selectedProjID }}/rfc/create/">Create New
                                            RFC!</a></b>
                                    {% else %}
                                        You Do not have Permission to Create New RFC!
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.col-sm-6 -->


                </div>
                <!-- /#content -->
            </div>
        </section>
    </div><!-- /.col-md-10 -->
    {% block jquery %}
        <script>
            $(document).ready(function () {
                $('#rfctable').dataTable({
                    "bProcessing": true,
                    "bServerSide": false, //important
                    "sAjaxDataProp": "data",
                    "sAjaxSource": 'http://127.0.0.1:8000/members/projects/{{ selectedProjID }}/rfc/api/?format=json',
                    "columns": [
                        { "data": "rfc_number"},
                        { "data": "rfc_question"},
                        { "data": "rfc_answer"}
                    ]
                });
            });
        </script>
    {% endblock %}
{% endblock %}
