<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
</head>
<body>

<div id="RFCTableContainer"></div>
<div>
    <table id="rfctable" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Rfc Number</th>
            <th>RFC title</th>
            <th>RFC Questions</th>
        </tr>
        </thead>
    </table>
</div>
<script type="application/javascript">
    $(document).ready(function () {
        $('#rfctable').dataTable({
            "bProcessing":true,
            "bServerSide":true,
            "sAjaxDataProp": "data",
            "sAjaxSource": 'http://127.0.0.1:8000/rfc/api/?format=json',
            "columns": [
                { "data": "rfc_issued_date"},
                { "data": "rfc_title"},
                { "data": "rfc_question"}
            ]
        });
    });
</script>

</body>
</html>