{% extends 'members/projects/projects.base.part' %}
{% load render_table from django_tables2 %}

{% block content %}
    <div class="col-md-10 col-md-push-2 col-sm-9 col-sm-push-3 col-no-left-padding">
        <section id="middle">

            <div class="page-header">
                <h1>RFC</h1>
            </div>
            <!-- /.page-header -->

            {% include 'members/projects/headerpanel.part' %}
        </section>
    </div><!-- /.col-md-10 -->
    {% block jquery %}
        <script>
            $(document).ready(function () {
                $('#rfctable').dataTable({
                    "bProcessing": true,
                    "bServerSide": false, //important
                    "sAjaxDataProp": "data",
                    "sAjaxSource": 'http://127.0.0.1:8000/members/rfc/1/api/?format=json',
                    "columns": [
                        { "data": "rfc_number"},
                        { "data": "rfc_question"},
                        { "data": "rfc_answer"}
                    ]
                });
            });
        </script>
    {% endblock %}
{% endblock %}
